<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- 如果使用了html-loader这里可能会无效 -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
  </head>

  <body class="position-relative">
    <h1>webpack-scaffold</h1>
    <div class="d-flex justify-content-around mt-5">
      <img id="js-img" />
      <img src="./public/i.jpg" alt="" />
    </div>
    <div class="toast position-absolute top-1 end-1" data-bs-autohide="true">
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body text-primary">Hello, world! This is a toast message.</div>
    </div>
    <!-- See also:  https://github.com/jaketrent/html-webpack-template/blob/86f285d5c790a6c15263f5cc50fd666d51f974fd/index.html -->

    <!-- cnd -->
    <% for (var js of htmlWebpackPlugin.options.cnd) { %>
    <script src="<%= js %>"></script>
    <% } %>

    <!-- builds -->
    <% for (var js of htmlWebpackPlugin.files.js) { %>
    <script src="<%= js %>"></script>
    <% } %>
  </body>
</html>
