.app
    padding: 20px

    .header
        color: primary-color
        text-align: center

    .count
        display: flex
        flex-direction: column
        align-items: center
        font-size: 22px

        button
            size: 100px 40px

.red
    color: red