.px-to-viewport {
  width: 196px;
  height: 50px;
  background-color: red;
  .title {
    color: #fff;
    font-size: 20px;
  }
}

.un-px-to-viewport {
  width: 196Px;
  height: 50Px;
  background-color: pink;
}

.pxToViewport2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
