body {
	padding: 0px;
	display: grid;
	background: url('./assets/image.jpg');
}

h1 {
	color: yellow;
	font-size: 40pt;
}

img {
	width: 200pt
	height: 200pt
	border-radius: 50%;
	animation: anime 6s linear infinite alternate;
}

@keyframes anime
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)